* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

::selection {
  color: var(--color-green);
  background-color: var(--color-black);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 990px;
  min-height: 100vh;
  font-family: var(--font-monospace);
  font-size: var(--font-18);
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-gray);
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1;
}

h1,
.b-h1 {
  padding: 0;
  margin: 0;
  font-size: 21px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

  p {
    font-size: var(--font-15);
    line-height: 25px;
    margin: 0;
    padding: 0;
  }
}

.terminal {
  display: block;
  white-space: pre;
  padding: 15px;
  border: 0;
  background-color: #353535;
  color: #93ff93;
  margin-bottom: 30px;
  width: 100%;
  min-height: 200px;
  border-radius: 8px;
  resize: vertical;
  outline: none;
}

.keyboard__container {
}

.keyboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  box-shadow: 0 27px 24px 0 rgb(0 0 0 / 20%), 0 40px 77px 0 rgb(0 0 0 / 22%);

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.key {
  display: flex;
  border: 1px solid #444;
  width: 50px;
  height: 50px;
  box-shadow: 0 3px 0 1px #222;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
  user-select: none;
  background-color: var(--key-bg-color);
  color: var(--key-color);

  &:hover {
    box-shadow: 0px 2px 0px rgb(0 0 0 / 20%);
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

  &:active,
  &.active {
    box-shadow: inset 0px -2px 0px rgb(0 0 0 / 20%);
    transform: translateY(2px);
    background-color: #5d3cf1;
    transition: all 0.1s ease-in-out;
  }

  &.key_backspace {
    font-size: var(--font-15);
    width: 153px;
  }

  &.key_del {
    font-size: var(--font-15);
  }

  &.key_capslock {
    font-size: var(--font-15);
    width: 107px;
  }

  &.key_tab {
    font-size: var(--font-15);
    width: 91px;
  }

  &.key_leftalt,
  &.key_rightalt,
  &.key_leftctrl,
  &.key_rightctrl {
    font-size: var(--font-15);
    width: 69px;
  }

  &.key_leftshift {
    font-size: var(--font-15);
    width: 135px;
  }

  &.key_rightshift {
    font-size: var(--font-15);
    width: 127px;
  }

  &.key_enter {
    font-size: var(--font-15);
    width: 156px;
  }

  &.key_space {
    width: 437px;
  }

  &.key_lang {
    width: 65px;
  }

  &.key-arrow {
    background: #f13c3c;
    border: 1px solid #e83333;
    box-shadow: 0 3px 0 1px #bf0c0c;
    border-bottom-color: #d04040;

    &:active,
    &.active {
      background: #4f3cf1;
      border: 1px solid #334be8;
      box-shadow: 0 3px 0 1px #0c21bf;
      border-bottom-color: #5240d0;
    }
  }
}

.keyboard {
  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;

    .btn-theme {
      display: none;
    }

    .btn-theme,
    .btn-key {
      width: auto;
      min-width: 40px;
      font-size: var(--font-12);
      padding: 0 9px;
      height: 30px;
      background-color: var(--key-bg-color);
      color: var(--color-white);
      box-shadow: none;
      text-transform: uppercase;

      &:hover,
      &:active,
      &.active {
        transform: none;
      }
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 15px;

    p {
      padding: 0;
      margin: 0;
      font-size: var(--font-15);
      line-height: 25px;
    }
  }
}
