* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

::selection {
  color: var(--color-green);
  background-color: var(--color-black);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  // font-family: var(--font-aria);
  font-family: monospace;
  font-size: var(--font-16);
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-gray);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1;
}

h1,
.b-h1 {
  padding: 0;
  margin: 0;
  font-size: 21px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer {
  text-align: center;
}

.terminal {
  white-space: pre;
  padding: 15px;
  border: 1px solid #424242;
  background-color: #424242;
  color: #93ff93;
  margin-bottom: 30px;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  outline: none;
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;

  &__section {
    display: flex;
    flex-direction: column;
  }
}