:root {
  /* Typography */
  --font-aria: "Arial", sans-serif;
  --font-16: 16px;
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #eeeeee;
  --color-green: #93ff93;
}
